---
start_date: 2020-02-18
tracker:
  timeout: 5h
monitor:
  polling_interval: 1m
sources:
- bucket: archive-measurement-lab
  experiment: ndt
  datatype: ndt7
  target: tmp_ndt.ndt7
- bucket: archive-measurement-lab
  experiment: ndt
  datatype: annotation
  target: tmp_ndt.annotation
#- bucket: archive-measurement-lab
#  experiment: ndt
#  datatype: tcpinfo
#  target: tmp_ndt.tcpinfo
